---
title: "{{{cit_title}}}"
collection: publications
permalink: /publication/{{fname}}
excerpt: {{{cit_abstract}}}
date: {{bib_month}} {{bib_year}}
venue: {{{cit_container-title}}}
paperurl: {{{bib_url}}}
citation: {{{citation}}}
---
{{cit_abstract}}

[Download paper here]({{{bib_url}}})

Recommended citation: {{{citation}}}

