---
title: "{{{cit_title}}}"
collection: publications
permalink: '/publication/{{fname}}'
excerpt: '{{{cit_abstract}}}'
{{#date}}
date: {{date}}
{{/date}}
venue: '{{{cit_container-title}}}'
paperurl: '{{{bib_url}}}'
citation: '{{{citation}}}'
---
{{cit_abstract}}

[Download paper here]({{{bib_url}}})

Recommended citation: {{{citation}}}

