---
title: "{{{cit_title}}}"
collection: publications
permalink: "/publication/{{fname}}"
excerpt: "{{{cit_abstract}}}"
{{#date}}
date: {{date}}
{{/date}}
venue: "{{{cit_container-title}}}"
paperurl: "{{{bib_url}}}"
citation: "{{{citation}}}"
---
{{bare_cit_abstract}}

[Full text]({{{bare_bib_url}}})


