---
title: "{{{cit_title}}}"
collection: publications
permalink: "/publication/{{fname}}"
excerpt: "{{{cit_abstract}}}"
{{#date}}
date: {{date}}
{{/date}}
venue: "{{{cit_container-title}}}"
link: "{{{bib_url}}}"
citation: "{{{citation}}}"
arxiv_url: "{{{bare_bib_arxiv_url}}}"
doi_url: "{{{bare_bib_doi_url}}}"
authors:
{{#authors}}
  - family: {{{family}}}
    given: {{{given}}}
{{/authors}}
---
{{bare_cit_abstract}}

