---
title: "{{{cit_title}}}"
collection: talks
excerpt: "{{{cit_abstract}}}"
{{#cit_eventdate}}
date: "{{cit_eventdate}}"
{{/cit_eventdate}}
type: "{{{cit_eventtitle}}}"
venue: "{{cit_publisher}}"
location: "{{cit_venue}}"
link: "{{{bib_url}}}"
---

