---
title: "{{{cit_title}}}"
collection: talks
excerpt: "{{{cit_abstract}}}"
{{#eventdate}}
date: "{{eventdate}}"
{{/eventdate}}
type: "{{{cit_eventtitle}}}"
venue: "{{cit_organization}}"
location: "{{cit_venue}}"
link: "{{{bib_url}}}"
---

