{% include base_path %}
{% include i18n %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork" dir="auto">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
             {% if teaser contains "://" %}
                                          "{{ teaser }}"
           {% else %}
             "{{ teaser | prepend: "/images/" | prepend: base_path }}"
           {% endif %}
             alt="">
      </div>
    {% endif %}

    {% if post.title.first %}
      <div class="flex place-content-between" dir="ltr">
        {% for loc in site.data.i18n %}
          {% assign ll=loc[0] %}
          {% if post.id %}
            {% assign title = post.title[ll] | markdownify | remove: "<p>" | remove: "</p>" %}

          {% else %}
            {% assign title = post.title[ll] %}
          {% endif %}

          <h2 class="archive__item-title" itemprop="headline" dir="auto">
            {% if post.link %}
              <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
            {% else %}
              <a href="{{ post.url }}" rel="permalink">{{ title }}</a>
            {% endif %}
            {% if post.arxiv_url %}
              <a class=" btn btn--inverse btn--small" href="{{ post.arxiv_url }}">
                <b class="ai ai-lg ai-arxiv"></b>
              </a>
            {% endif %}
            {% if post.notes[ll] %}
              {% assign notes = loc[1].notes | capitalize %}
              <a  href="{{ post.url }}{{ post.notes[ll]}}">
                <i class="fas fa-file-alt" aria-hidden="true" title="{{ notes }}"></i>
                <span class="sr-only">{{ notes }}</span>
              </a>
            {% endif %}
            {% if post.venue == 'bgu' %}
              {% if post.term == 'fall' %}
                {% assign nyear = post.year | plus: 1 %}
                {% assign termb = 'fall' | append: nyear %}
              {% else %}
                {% assign termb = 'spring' | append: post.year %}
              {% endif %}
              <a href="https://www.math.bgu.ac.il/{{ll}}/teaching/{{termb}}/courses/{{post.url | split: '/' | last }}"><img src="/images/bgu_logo.png" alt="bgu web page" class="icon" /></a>
            {% endif %}
          </h2>
        {% endfor %}
      </div>
    {% else %}
      {% if post.id %}
        {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}

      {% else %}
        {% assign title = post.title %}
      {% endif %}

      <h2 class="archive__item-title" itemprop="headline" dir="auto">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
        {% if post.arxiv_url %}
          <a  href="{{ post.arxiv_url }}">
            <b class="text-black ai ai-lg ai-arxiv"></b>
          </a>
        {% endif %}
      </h2>
    {% endif %}

    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    {% if post.collection == 'teaching' %}
      <div class="flex place-content-between" dir="ltr">
        {% for loc in site.data.i18n %}
          {% assign ll=loc[0] %}
          {% unless post.title[ll] %}
            {% continue %}
          {% endunless %}
          <p class="{{ ll }}" dir="auto">
          {{ loc[1].course[post.type] | capitalize }},
          <i>{{ site.data.venue[post.venue][ll] }}</i>,
          {{ loc[1].term[post.term] | capitalize }} {{ post.year }}
          </p>
        {% endfor %}
      </div>
    {% elsif post.collection == 'publications' %}
      {% if post.authors.size > 1 %}
        <p>With:
        <ul>
          {% for author in post.authors %}
            {% unless author.given == site.author.given and
              author.family == site.author.family %}
              {% assign ckey = author.given | append: ' ' | append: author.family %}
              {% assign url = site.data.coauthors[ckey].url %}
              <li>
                {% if url %}
                  <a href="{{coauth.url}}">
                  {% endif %}
                  {{ author.given }} {{ author.family }}
                  {% if url %}
                    </a>
                  {% endif %}
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
        </p>
      {% endif %}
      <p>{% if post.venue %}
        Published in <i>{{ post.venue }}</i>{% else %}
          Preprint{% endif %}, {{ post.date | default: "1900-01-01" | date: "%Y" }}
      </p>
    {% elsif post.date %}
      <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[lang].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
    {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}

  </article>
</div>

{% comment %}
vim: ft=liquid:
{% endcomment %}
